{% extends 'admindashboard.twig' %}

{% block content %}
<div class="w3-container w3-teal">
<p clas="w3-green">All Users</p>
<table class="w3-table w3-border">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>View Full Profile</th>

        <th>Department</th>
    </tr>

        {% for user in auth.adminusers  %}

        <tr>
        <td>{{ user.firstname }}</td>
<td>{{ user.lastname }}</td>
<td><a href="#"><button class="w3-button w3-round-large w3-khaki">View</button></a></td>
<td>{{ user.department }}</td>
        {% else %}
<td>Empty</td>


    </tr>

    {% endfor %}
</table>
</div>
{% endblock %}
