{% extends "app.twig" %}

{% block content %}

{% if auth.check %}
<div class="alert alert-primary">

{{ auth.date }}

    <h1>Welcome</h1>
</div>
{% else %}
<div class="alert alert-default">
    {% include 'latestinfo.twig' %}

   </div>

{% endif %}

{% endblock %}
