.has-error{
    border:2px solid red;
}

.has-error-p{
    color: red;
}
body{
    font-family: 'Roboto', sans-serif;
}
.dropzone {
    width: 300px;
    border: 2px dashed lightgray;
    height: 300px;
    line-height: 300px;
    font-size: 20px;
    text-align: center;
    color: #ccc;
}

.dropzone.dragover {
    border-color: #000;
    color: #000;
}
